<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nutella!</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #121212 !important;
        margin: 0 !important;
      }
    </style>
  </head>
  <body>
    <center>
      <section class="text-center col-10 m-3">
        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">
          <div class="col-lg-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card bg-dark text-white">
              <!--Card image-->
              <div class="view overlay">
                <img
                  src="https://img.memecdn.com/nutella-healthy_o_2813531.jpg"
                  class="card-img-top"
                  alt=""
                />
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Love Nutella tho</h4>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card bg-dark text-white">
              <!--Card image-->
              <div class="view overlay">
                <img
                  src="https://img.buzzfeed.com/buzzfeed-static/static/2015-10/4/0/enhanced/webdr07/enhanced-9769-1443931595-1.jpg"
                  class="card-img-top"
                  alt=""
                />
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Love Nutella tho</h4>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card bg-dark text-white">
              <!--Card image-->
              <div class="view overlay">
                <img
                  src="https://pics.me.me/nutella-the-smokeless-spreadable-crack-nutella-17647932.png"
                  class="card-img-top"
                  alt=""
                />
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Love Nutella tho</h4>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->
        </div>
        <div class="row mb-4 wow fadeIn">
          <div class="col-lg-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card bg-dark text-white">
              <!--Card image-->
              <div class="view overlay">
                <img
                  src="https://i.pinimg.com/originals/8f/ff/03/8fff03b5f28ac8d1095f618ff78bedcc.png"
                  class="card-img-top"
                  alt=""
                />
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Love Nutella tho</h4>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card bg-dark text-white">
              <!--Card image-->
              <div class="view overlay">
                <img
                  src="https://i.imgflip.com/jqogz.jpg"
                  class="card-img-top"
                  alt=""
                />
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Love Nutella tho</h4>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card bg-dark text-white">
              <!--Card image-->
              <div class="view overlay">
                <img
                  src="https://i.pinimg.com/236x/0b/36/63/0b3663d6cf7ed910e86254a8241d1347--nutella-meme-image.jpg"
                  class="card-img-top"
                  alt=""
                />
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Alok ate it</h4>
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Cards-->
    </center>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"
    ></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
<!-- <h3>This is Arthur and Adelyn whoaaa!</h3>
      <iframe
        src="https://giphy.com/embed/mGo8dkPOF6GLm"
        width="480"
        height="360"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
      <p>
        <a href="https://giphy.com/gifs/handshake-mGo8dkPOF6GLm">via GIPHY</a>
      </p>
      <p>P.S. It takes time to make websites from scratch, I'm sorry :p</p> -->
